<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.soundforchildrens">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kuis.BahasaIndonesia.HasilActivity"></activity>
        <activity android:name=".Kuis.BahasaIndonesia.KuisActivity" />
        <activity android:name=".Suara.Indonesia.BuahActivityIndonesia" />
        <activity android:name=".Suara.Indonesia.BinatangHewanIndonesiaActivity" />
        <activity android:name=".Suara.Indonesia.SuaraActivity" />
        <activity android:name=".Others.MainActivityBahasaInggris" />
        <activity android:name=".Others.KategoriBahasaActivity" />
        <activity android:name=".Petunjuk.WalkthroughtActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kuis.BahasaInggris.HasilKuisActivity"
            android:parentActivityName=".Kuis.BahasaInggris.QuizActivity" />
        <activity
            android:name=".Kuis.BahasaInggris.QuizActivity"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Profile.AboutActivity"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Profile.CreditActivity"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Game.DraganddropActivity"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Suara.Inggris.BuahActivity"
            android:parentActivityName=".Suara.Inggris.Sounds" />
        <activity
            android:name=".Suara.Inggris.BinatangHewan"
            android:parentActivityName=".Suara.Inggris.Sounds" />
        <activity
            android:name=".Suara.Inggris.Sounds"
            android:parentActivityName=".Others.MainActivity" />
        <activity android:name=".Others.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>